


a.dash-map-search:link, a.dash-map-search:visited {background: url('../images/icon_log_wjw.png');background-position: 0px 0px; }
a.dash-map-search:hover {background: url('../images/icon_log_wjw.png');background-position: 0px 0px; }
a.dash-map-search:active {background: url('../images/icon_log_wjw.png');background-position: 0px 0px; }