@CHARSET "UTF-8";
/* 主浏览界面样式 */
.dataSourceContainer {
	width: 100%;
}

.dataSourceContainer>table {
	width: 100%;
	border: 0px;
}

.dataSourceContainer>table tr {
	width: 100%;
}

.dataSourceContainer>table td {
	vertical-align: top;
}

.navigatorTd {
	width: 240px;
	border-right: 1px solid #D7D9DB;
}

.navigatorTd>.navigatorTitle {
	height: 30px;
	padding-bottom: 10px;
	background-color: #F1F2F3;
	border-bottom: 1px solid #D7D9DB;
}

.navigatorTd>.navigatorTitle>span {
	height: 30px;
	line-height: 40px;
	margin-left: 10px;
	color: #333333;
}

.navigatorTd>.navigatorToolBar {
	height: 30px;
	border-bottom: 1px solid #D7D9DB;
}

.navigatorTd>.navigatorToolBar>.addBtn {
	width: 30px;
	line-height: 18px;
	margin-left: 10px;
	padding-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor:hand;
	background: url("../images/toolbar_ico_addchart.png") no-repeat;
}

.navigatorTd>.nav {
	vertical-align: top;
	bottom: 0px;
}

.navigatorTd>.nav>.tips {
	color: #B8B8B8;
	text-align:center;
	margin-top: 20px;
}

.navigatorTd>.nav>.menu {
	margin-top: 1px;
	height: 30px;
}

.navigatorTd>.nav>.menu:HOVER {
	background-color: #D8EAFF;
}

.navigatorTd>.nav>.menu.active {
	background-color: #FFE6B0;
}

.navigatorTd>.nav>.menu>div.title {
	width: 130px;
	height: 30px;
	float: left;
	text-align: left;
	line-height: 30px;
	padding-left: 30px;
}

.navigatorTd>.nav>.menu>div.delbtn {
	width: 16px;
	height: 16px;
	float: right;
	margin-top: 8px;
	padding-right: 10px;
	cursor:hand;
	background: url("../images/SC_item_del.png") no-repeat;
}

.navigatorTd>.nav>.menu>div.delbtn:HOVER {
	background: url("../images/SC_item_del_O.png") no-repeat;
}
.navigatorTd>.nav>.menu.active>div.delbtn {
	background: url("../images/SC_item_del_O.png") no-repeat;
}

/* 右侧样式 */
.containerTd{
	background-color: #F7F8F9;
}

.containerTd>.container {
	
}

.containerTd>.container>.tips {
	height: 256px;
	width: 326px;
	color: #B8B8B8;
	font-size: 18px;
	position: absolute;
	top: 30%;
	left: 45%;
	background: url("../images/ico_blankpage.png") no-repeat center top;
}

.dataSourcePanel {
	margin: 20px 20px 20px 20px;
	background-color: white;
	padding-left: 30px;
}

.dataSourcePanel>.dataSourceTitle {
	padding-top: 30px;
	line-height: 16px;
}
.dataSourcePanel>.dataSourceTitle>.title {
	float:left;
	font-size: 20px;
	font-weight: bold;
}

.dataSourcePanel>.dataSourceTitle>.editBtn {
	float:left;
	padding-left: 20px;
	margin-left: 20px;
	height: 16px;
	color: #4C77BA;
	cursor:hand;
	background: url("../images/toolbar_ico_edit.png") no-repeat;
}

.dataSourcePanel>.baseinfoEdit {
	margin-top: 30px;
	padding-left: 80px;
}

.dataSourcePanel>.baseinfoEdit>INPUT {
	line-height: 
}

.controls {
	line-height: 26px;
}